<div class="row">
    <div class="col-lg-5 mx-auto mt-3 p-3 ">
        <h4 class="m-5 text-center border-3 border-bottom p-2 border-muted">Login here</h4>
        <form class=" p-5" #ref="ngForm"  (ngSubmit)="ref.form.valid && onLogin(ref)">
            <div>
            <label for="un" class="form-label">User name</label>
            <input type="text" id="un" name="username" class="form-control" ngModel  #refusername="ngModel" required minlength="4">
            <p class="text-warning" *ngIf="(ref.form.submitted || refusername.touched) && refusername.errors?.required">*user name is required</p>
            <p class="text-warning" *ngIf="(ref.form.submitted || refusername.touched) && refusername.errors?.minlength">*minlength is 4</p>

            </div>
            <div>
                <label for="num" class="form-label">Phone number</label>
                <input type="number" id="num" name="phone" class="form-control" ngModel >
            </div> 

            <div>
                <label for="otp" class="form-label">Enter otp </label>
                <input type="number" id="otp" name="otplogin" class="form-control" ngModel>
            </div>

            <button class="btn btn-success d-block mx-auto mt-3" type="submit">
                login
            </button>
        </form>
    </div>
    <div class="col-lg-1">

    </div>
   
    <div class="col-lg-5 bobby mt-3 mb-2 ">
        <img src="https://static.wixstatic.com/media/cae8d2_bebda66a51394e52b064fe7cf64a6e94~mv2_d_1280_1920_s_2.jpg/v1/fill/w_489,h_734,al_c,q_80,usm_0.66_1.00_0.01/cae8d2_bebda66a51394e52b064fe7cf64a6e94~mv2_d_1280_1920_s_2.webp" width="100%" alt="">
    </div>
    <div class="col-lg-1">
        
    </div>
</div>
