<!-- create navbar -->
<nav class="navbar navbar-expand-lg navbar-light lit">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-camera-retro display-6 ms-3"></i><strong> Bobbyjoshi</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="users" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="test1" routerLinkActive="active">Test-1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="test2" routerLinkActive="active">Test-2</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
        </li>

        <li class="nav-item" *ngIf="!dsobj.userloginstatus()">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>

        <li class="nav-item" *ngIf="dsobj.userloginstatus()">
          <a class="nav-link" routerLink="login" routerLinkActive="active" (click)="dsobj.userlogout()">Logout</a>
        </li>


        <li class="nav-item">
          <a class="nav-link " routerLink="contactus" routerLinkActive="active">Contactus</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " routerLink="album" routerLinkActive="active">my album</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div class="container">
  <router-outlet></router-outlet>
  </div>


    <app-footer class="mt-auto"></app-footer>
  



