<div class="row mb-5">
  
    <div class="col-lg-6">
        <h2 class="mt-5 border-bottom p-3 border-dark" style="font-family: 'Sacramento', 'cursive';">About - Bobby Joshi</h2>
        <p class="mt-3 lead"> A world traveler and nature admirer; he photographs like he has been unanimously reserved by nature on the day of his birth as its official beauty propagator. He keeps his subjects within the range of planet earth's characteristic self, and finds beauty and stories in things that only heart can feel. He is a master storyteller of Mother Nature, capturing her glory through visually stunning images, each standing out on its own.</p>
        <p class="lead">Bobby is based in Bangalore and is founder of Photography company GoodShotz. You can check it out at <a href="https://goodshotz.com/">goodshots.com</a></p>
        <p class="lead mt-4 bobby"><strong> "I'm lucky to have left footprints in some of the most beautiful places in the world" </strong>
        </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 mt-5 pt-5">
        <img src="https://static.wixstatic.com/media/cae8d2_cd02bb8cd6314a9d811badf670d2b34d~mv2_d_1920_1281_s_2.jpg/v1/crop/x_288,y_0,w_1632,h_1281/fill/w_900,h_706,al_c,q_85,usm_0.66_1.00_0.01/cae8d2_cd02bb8cd6314a9d811badf670d2b34d~mv2_d_1920_1281_s_2.webp" width="100%"  class="">
    </div>
    <div class=""></div>
</div>
